<% content_for :title, @character.name %>
<% content_for :main_class, "flex-1 p-4 md:p-6 lg:p-8" %>

<div class="max-w-4xl mx-auto">
  <%= render "characters/profile_page", character: @character, mode: :public %>
</div>
