<% content_for :title, t("lorebooks.new_title", default: "Create New Lorebook") %>

<div class="space-y-6">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs text-sm">
    <ul>
      <li>
        <%= link_to settings_lorebooks_path do %>
          <span class="icon-[lucide--book-open] size-4 mr-1"></span>
          <%= t("lorebooks.title", default: "Lorebooks") %>
        <% end %>
      </li>
      <li><%= t("lorebooks.new", default: "New Lorebook") %></li>
    </ul>
  </div>

  <!-- Form -->
  <div class="card bg-base-100 shadow-sm border border-base-300">
    <div class="card-body">
      <%= render "form", lorebook: @lorebook %>
    </div>
  </div>
</div>
