name: "tavern"

services:
  postgres:
    image: pgvector/pgvector:pg18-trixie
    restart: unless-stopped
    networks:
      - default
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/18

  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    environment:
      RAILS_DB_URL_BASE: "postgresql://postgres:postgres@postgres:5432"
      SECRET_KEY_BASE: ""
      ACTIVE_RECORD_ENCRYPTION__PRIMARY_KEY: ""
      ACTIVE_RECORD_ENCRYPTION__DETERMINISTIC_KEY: ""
      ACTIVE_RECORD_ENCRYPTION__KEY_DERIVATION_SALT: ""

    volumes:
      - ../../tavern:/workspaces/tavern:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Uncomment the next line to use a non-root user for all processes.
    # user: vscode

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    depends_on:
      - postgres

volumes:
  postgres-data:
